<div class="formulaire">
<h3><%= @cocktail.name %></h3>
    <div class="row">
      <div class ="col-xs-12 col-sm-5" id="formulaire-image">
        <%= cl_image_tag @cocktail.photo, height: 450, width: 700, crop: :fill %>
      </div>
      <div class="col-xs-12 col-sm-5" id="formulaire-ingredients">
        <ul class="list-unstyled">
          <% @cocktail.doses.each do |dose|  %>
          <li>- <%= dose.description %> de <%= dose.ingredient.name %> </li>
          <% end %>
        </ul>
        <%= simple_form_for [ @cocktail, @dose ] do |f|%>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit 'Add dose' %>
        <% end %>
      </div>
    </div>
</div>



